<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.dao.CategoryMapper">

	<insert id="insert" parameterType="com.shop.bean.Category">
		INSERT INTO category(category_id, second_category_id, category_name, category_leve, belong_first_leve, claStyle) 
		VALUES(#{categoryId}, #{secondCategoryId}, #{categoryName}, #{categoryLeve}, #{belongFirstLeve}, #{clastyle})
	</insert>

	<delete id="deleteByPK" parameterType="Integer">
		DELETE FROM category WHERE category_id = #{categoryId}
	</delete>

	<delete id="deleteByExample" parameterType="com.shop.bean.Category">
		DELETE FROM category WHERE
		<trim prefixOverrides="AND">
			<if test="categoryId != null"> AND category_id = #{categoryId}</if>
			<if test="secondCategoryId != null"> AND second_category_id = #{secondCategoryId}</if>
			<if test="categoryName != null"> AND category_name = #{categoryName}</if>
			<if test="categoryLeve != null"> AND category_leve = #{categoryLeve}</if>
			<if test="belongFirstLeve != null"> AND belong_first_leve = #{belongFirstLeve}</if>
			<if test="clastyle != null"> AND claStyle = #{clastyle}</if>
		</trim>
	</delete>
  
	<update id="updateByPK" parameterType="com.shop.bean.Category">
		UPDATE category
		<set>
			<if test="secondCategoryId != null"> second_category_id = #{secondCategoryId}, </if>
			<if test="categoryName != null"> category_name = #{categoryName}, </if>
			<if test="categoryLeve != null"> category_leve = #{categoryLeve}, </if>
			<if test="belongFirstLeve != null"> belong_first_leve = #{belongFirstLeve}, </if>
			<if test="clastyle != null"> claStyle = #{clastyle}</if>
		</set>
		 WHERE category_id = #{categoryId}
	</update>

	<select id="findByPK" parameterType="Integer" resultType="com.shop.bean.Category">
		SELECT category_id categoryId, second_category_id secondCategoryId, category_name categoryName, category_leve categoryLeve, belong_first_leve belongFirstLeve, claStyle clastyle
		FROM category WHERE category_id = #{categoryId}
	</select>

	<select id="findByExample" resultType="com.shop.bean.Category">
		SELECT 
			category_id categoryId, 
			second_category_id secondCategoryId, 
			category_name categoryName, 
			category_leve categoryLeve, 
			belong_first_leve belongFirstLeve, 
			claStyle clastyle
		FROM category
		<where>
			<if test="categoryId != null"> AND category_id = #{categoryId}</if>
			<if test="secondCategoryId != null"> AND second_category_id = #{secondCategoryId}</if>
			<if test="categoryName != null"> AND category_name = #{categoryName}</if>
			<if test="categoryLeve != null"> AND category_leve = #{categoryLeve}</if>
			<if test="belongFirstLeve != null"> AND belong_first_leve = #{belongFirstLeve}</if>
			<if test="clastyle != null"> AND claStyle = #{clastyle}</if>
		</where> 
	</select>
</mapper>