<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sm.dao.SmUserMapper">

	<resultMap id="BaseResultMap" type="com.sm.entity.SmUserDto">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="user_name" jdbcType="VARCHAR" property="userName" />
		<result column="user_img" jdbcType="VARCHAR" property="userImg" />
		<result column="mobile" jdbcType="INTEGER" property="mobile" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="wechat_openid" jdbcType="VARCHAR" property="wechatOpenid" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="last_login_date" jdbcType="TIMESTAMP" property="lastLoginDate" />
		<result column="is_enable" jdbcType="CHAR" property="isEnable" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
	</resultMap>

	<sql id="Base_Column_List">
		id, user_name, user_img, mobile, password, wechat_openid,email,
		last_login_date,is_enable, create_date, update_date
	</sql>

	<select id="selectByExample" parameterType="com.sm.entity.SmUserDto"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sm_user
		<where>
			<if test="id != null">and id = #{id}</if>
			<if test="userName != null">and user_name = #{userName}</if>
			<if test="userImg != null">and user_img = #{userImg}</if>
			<if test="mobile != null">and mobile = #{mobile}</if>
			<if test="password != null">and password = #{password}</if>
			<if test="wechatOpenid != null">and wechat_openid = #{wechatOpenid}</if>
			<if test="email != null">and email = #{email,jdbcType=VARCHAR},</if>
			<if test="lastLoginDate != null">and last_login_date = #{lastLoginDate}</if>
			and is_enable = 0
			<if test="createDate != null">and create_date = #{createDate}</if>
			<if test="updateDate != null">and update_date = #{updateDate}</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sm_user
		where id = #{id,jdbcType=INTEGER} and is_enable = 0
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		update sm_user
		set is_enable=1,update_date = now()
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insertSmUser" parameterType="com.sm.entity.SmUserDto"
		useGeneratedKeys="true" keyProperty="id">
		insert into sm_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="userName != null">user_name,</if>
			<if test="userImg != null">user_img,</if>
			<if test="mobile != null">mobile,</if>
			<if test="password != null">password,</if>
			<if test="wechatOpenid != null">wechat_openid,</if>
			<if test="email != null">email,</if>
			<if test="lastLoginDate != null">last_login_date,</if>
			<if test="isEnable != null">is_enable,</if>
			create_date,
			update_date,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id,jdbcType=INTEGER},</if>
			<if test="userName != null">#{userName,jdbcType=VARCHAR},</if>
			<if test="userImg != null">#{userImg,jdbcType=VARCHAR},</if>
			<if test="mobile != null">#{mobile,jdbcType=INTEGER},</if>
			<if test="password != null">#{password,jdbcType=VARCHAR},</if>
			<if test="wechatOpenid != null">#{wechatOpenid,jdbcType=VARCHAR},</if>
			<if test="email != null">#{email,jdbcType=VARCHAR},</if>
			<if test="lastLoginDate != null">#{lastLoginDate,jdbcType=TIMESTAMP},</if>
			<if test="isEnable != null">#{isEnable,jdbcType=CHAR},</if>
			now(),
			now(),
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.sm.entity.SmUserDto">
		update sm_user
		<set>
			<if test="userName != null">user_name = #{userName,jdbcType=VARCHAR},</if>
			<if test="userImg != null">user_img = #{userImg,jdbcType=VARCHAR},</if>
			<if test="mobile != null">mobile = #{mobile,jdbcType=INTEGER},</if>
			<if test="password != null">password = #{password,jdbcType=VARCHAR},</if>
			<if test="wechatOpenid != null">wechat_openid = #{wechatOpenid,jdbcType=VARCHAR},</if>
			<if test="email != null">email = #{email,jdbcType=VARCHAR},</if>
			<if test="lastLoginDate != null">last_login_date = #{lastLoginDate,jdbcType=TIMESTAMP},</if>
			<if test="isEnable != null">is_enable = #{isEnable,jdbcType=CHAR},</if>
			<if test="createDate != null">create_date = #{createDate,jdbcType=TIMESTAMP},</if>
			update_date = now(),
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>