<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.dao.UserMapper">
	<insert id="insert" parameterType="com.shop.bean.User">
		INSERT INTO user(user_id, mobile, password, user_name, img) 
		VALUES(#{userId}, #{mobile}, #{password}, #{userName}, #{img})
	</insert>

	<delete id="deleteByPK" parameterType="Integer">
		DELETE FROM user WHERE user_id = #{userId}
	</delete>

	<delete id="deleteByExample" parameterType="com.shop.bean.User">
		DELETE FROM user WHERE
		<trim prefixOverrides="AND">
			<if test="userId != null"> AND user_id = #{userId}</if>
			<if test="mobile != null"> AND mobile = #{mobile}</if>
			<if test="password != null"> AND password = #{password}</if>
			<if test="userName != null"> AND user_name = #{userName}</if>
			<if test="img != null"> AND img = #{img}</if>
		</trim>
	</delete>
  
	<update id="updateByPK" parameterType="com.shop.bean.User">
		UPDATE user
		<set>
			<if test="mobile != null"> mobile = #{mobile}, </if>
			<if test="password != null"> password = #{password}, </if>
			<if test="userName != null"> user_name = #{userName}, </if>
			<if test="img != null"> img = #{img}</if>
		</set>
		 WHERE user_id = #{userId}
	</update>

	<select id="findByPK" parameterType="Integer" resultType="com.shop.bean.User">
		SELECT user_id userId, mobile mobile, password password, user_name userName, img img
		FROM user WHERE user_id = #{userId}
	</select>

	<select id="findByExample" resultType="com.shop.bean.User">
		SELECT 
			user_id userId, 
			mobile mobile, 
			password password, 
			user_name userName, 
			img img
		FROM user
		<where>
			<if test="userId != null"> AND user_id = #{userId}</if>
			<if test="mobile != null"> AND mobile = #{mobile}</if>
			<if test="password != null"> AND password = #{password}</if>
			<if test="userName != null"> AND user_name = #{userName}</if>
			<if test="img != null"> AND img = #{img}</if>
		</where> 
	</select>
</mapper>